:root {
    --text: #efebeb;
    --background: #160f0e;
    --primary: #cba29e;
    --secondary: #7c3c35;
    --accent: #bf4f44;
}

body {
    font-family: 'JetBrains Mono';
    background: url(images/orange.jpg);
    background-position: center;
    background-size: cover;
    min-height: 100vh;
    margin: 0;
    padding: 0;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
}

nav li {
    margin-top: 50px;
    margin-right: 20px;
}

nav a {
    text-decoration: none;
    color: var(--text);
    font-weight: bold;
    font-size: 20px;
}