@media (prefers-color-scheme: light) {
    :root {
      --text: #0d110f;
      --background: #f1f4f2;
      --primary: #38473e;
      --secondary: #baa6b6;
      --accent: #7b6260;
    }
}
@media (prefers-color-scheme: dark) {
    :root {
        --text: #edf1ef;
        --background: #0a0d0b;
        --primary: #b7c7bd;
        --secondary: #584454;
        --accent: #a08785;
    }
}
  
html{
    scroll-behavior: smooth;
    margin-right: -8px;
    margin-left: -8px;
    margin-top: -25px;
}

/*width*/
::-webkit-scrollbar {
    width:0px;
}
  
  /*track*/
::-webkit-scrollbar-track {
    background:transparent;
}
  
  /*thumb*/
::-webkit-scrollbar-thumb {
    background:transparent;
}

body{
    background: var(--accent);
    font-family: 'JetBrains Mono';
}

#menu{
    height: 100vh;
    display: flex;
    align-items: center;
}

#menu-items{
    margin-left: clamp(1rem, 10vw, 48rem);
    position: relative;
    z-index: 2;
}

#menu-items:hover > .menu-item{
    opacity: 0.1;
}

#menu-items:hover > .menu-item:hover{
    opacity: 1;
    font-size: 50px;
}

.menu-item{
    color: rgb(255, 255, 255);
    font-size: 40px;
    font-family: "JetBrains Mono", serif;

    display: block;
    text-decoration: none;
    padding: clamp(0.25rem, 0.5vw, 1rem) 0;
    transition: opacity 400ms ease-in-out, 0.5s ease-in-out;
}

.hidden{
    opacity: 0;
    filter: blur(5px);
    transform: translateX(-100%);
    transition: all 2s;
}

.show{
    opacity: 1;
    filter: blur(0);
    transform: translateX(0);
}

.hidden .stop{
    opacity: 1;
}


section{
    display: grid;
    place-items: center;
    align-content: center;
    min-height: 100vh;
    text-align: center;
}

/* @media(prefers-reduced-motion){
    .hidden{
        transition: none;
    }
} */

.logos{
    display: flex;
    font-size: 40px;
    transition: 1s ease;
}

.logos i:hover{
    font-size: 50px;
}

.logo:nth-child(2){
    transition-delay: 200ms;
}
.logo:nth-child(3){
    transition-delay: 400ms;
}
.logo:nth-child(4){
    transition-delay: 600ms;
}

.logo{
    border-radius: 30%;
    padding: 1rem;
    margin: 0 0.5rem;
}

.logos i{
    color: black;
    transition: 0.5s ease;
}

.accent{
    background: var(--accent);
}

.secondary{
    background: var(--secondary);
}

.custom-shape-divider-bottom-1705135813 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    line-height: 0;
    transform: rotate(180deg);
}

.custom-shape-divider-bottom-1705135813 svg {
    position: relative;
    display: block;
    width: calc(112% + 1.3px);
    height: 114px;
}

.custom-shape-divider-bottom-1705135813 .shape-fill {
    fill: var(--accent);
}

.custom-shape-divider-top-1705142776 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.custom-shape-divider-top-1705142776 svg {
    position: relative;
    display: block;
    width: calc(228% + 1.3px);
    height: 179px;
}

.custom-shape-divider-top-1705142776 .shape-fill {
    fill: var(--accent);
}